.photo-grid__container {
  max-width: 1190px;
  padding: 26px 2% 92px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px 16px;
}

.photo-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 16px;
  max-width: 1184px;
  margin-top: 118px;
  margin-bottom: 89px;
  justify-content: center;
  align-items: center;
}

.photo-grid__item {
  flex-basis: 284px;
  height: 213px;
  object-fit: cover;
}

@media screen and (max-width: 768px) and (min-width: 581px) {
  .photo-grid {
    min-width: 720px;
  }
  .photo-grid__item {
    flex-basis: 352px;
    height: 264px;
  }

  @media screen and (min-width: 320px) and (max-width: 580px) {
    .photo-grid__container {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
