.place {
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-rows: auto 460px auto;
  grid-template-areas:
    "title website"
    "image text"
    "button text";
  color: white;
  column-gap: 40px;
  font-family: "Inter", sans-serif;
  max-width: 984px;
  row-gap: 48px;
  padding-bottom: 80px;
  width: 100%;
}

.place__title {
  grid-area: title;
  width: 460px;
  text-align: left;
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
}

.place__image {
  grid-area: image;
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 10px 10px 25px 0px #00000080;
}

.place__image:hover {
  opacity: 0.5;
}

.place__website {
  grid-area: website;
  align-self: end;
}

.place__url-heading {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.12em;
  color: #aaaaaa;
  margin: 0;
}

.place__artist {
  font-size: 18px;
  line-height: 22px;
  margin: 0;
}
.place__paragraph {
  grid-area: text;
  text-align: left;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  margin: 0;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  max-width: 484px;
}

.place__button {
  grid-area: button;
  color: #fff;
  display: block;
  padding: 13px 20px;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
  box-shadow: 5px 5px 10px 0px #00000040;
  background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
  max-width: 289px;
  border-radius: 4px;
  gap: 10px;
  height: 22px;
}

.place__button:hover {
  background: linear-gradient(
    90deg,
    rgba(2, 120, 254, 0.25) 0%,
    rgba(0, 58, 123, 0.25) 99.98%
  );
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .place {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto) 320px repeat(2, auto);
    grid-template-areas:
      "title"
      "website"
      "image"
      "text"
      "text"
      "button";
    max-width: 320px;
    justify-self: center;
    align-items: center;
  }
  .place__title {
    font-size: 32px;
    line-height: 35px;
    row-gap: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 288px;
  }
  .place__image {
    max-width: 320px;
  }
  .place__website {
    grid-area: website;
    align-self: end;
    max-width: 288px;
  }
  .place__paragraph {
    font-size: 16px;
    max-width: 288px;
  }
  .place__button {
    width: 248px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .place {
    max-width: 768px;
    grid-template-columns: 320px;
    grid-template-rows: 1fr;
    grid-template-areas:
      "title website"
      "image text"
      "button text";
  }
}
